<article class="flex flex-col col-span-1 gap-4 items-start w-full">
	<header>
		<h2 class="text-2xl font-bold">
			<a href="{{ href }}" class="inline-flex relative items-center hover:underline underline-offset-8">
				{{ title }}
			</a>
		</h2>
		<div class="text-sm text-slate-600 dark:text-slate-300">Created at: <time datetime="{{ createdAt | date : "%Y-%m-%d" }}">{{ createdAt | date : "%b %d %Y" }}</time></div>
	</header>
	{{ if excerpt }}
	<div class="line-clamp-2 w-full">{{ excerpt | strip_html | truncate: 120 }}</div>
	{{ endif }}
	<a href="{{ href }}" class="link">
		Read the whole article
		<bs-i name="arrow-right"></bs-i>
	</a>
</article>
