<ul class="flex justify-center flex-wrap items-center gap-6">
	<li class="contents">
		{% if pagination.href.previous %}
		<a
			class="w-auto px-2 h-8 min-w-8 rounded-sm inline-flex items-center justify-center text-accent-600 dark:text-accent-400"
			href="{{ pagination.href.previous }}" title="Previous page">
			{% bsicon "arrow-left-short" %}
		</a>
		{% else %}
		<span
			class="pointer-events-none opacity-60 w-auto px-2 h-8 min-w-8 rounded-sm inline-flex items-center justify-center text-accent-600 dark:text-accent-400"
			title="There is no next page">
			{% bsicon "arrow-left-short" %}
		</span>
		{% endif %}
	</li>
	{% for url in pagination.hrefs %}
	<li class="contents">
		{% if page.url == url %}
		<span aria-current="page" class="px-2 rounded-sm w-10 h-8 inline-flex items-center justify-center border border-accent-500 text-accent-600 dark:text-accent-400" href="{{ url }}">{{ forloop.index }}</span>
		{% else %}
			<a class="px-2 rounded-sm w-10 h-8 inline-flex items-center justify-center text-accent-600 dark:text-accent-400" href="{{ url }}">{{ forloop.index }}</a>
		{% endif %}
	</li>
	{% endfor %}
	<li class="contents">
		{% if pagination.href.next %}
		<a class="w-auto px-2 h-8 min-w-8 rounded-sm inline-flex items-center justify-center text-accent-600 dark:text-accent-400" href="{{ pagination.href.next }}" title="Next page">
			{% bsicon "arrow-right-short" %}
		</a>
		{% else %}
		<span class="pointer-events-none opacity-60 w-auto px-2 h-8 min-w-8 rounded-sm inline-flex items-center justify-center dark:text-accent-400 text-accent-600" title="There is no next page">
			{% bsicon "arrow-right-short" %}
		</span>
		{% endif %}
	</li>
</ul>
