---
layout: root
date: git Created
---

<link rel="stylesheet" href="/assets/one-dark.css" media="(prefers-color-scheme: dark)">
<link rel="stylesheet" href="/assets/one-light.css" media="(prefers-color-scheme: light)">

<header class="py-12">
	<div class="relative p-3 mx-auto w-full max-w-5xl box-border" role="presentation">
		<h1 class="text-3xl lg:text-5xl xl:text-6xl font-black leading-tight text-transparent bg-clip-text bg-gradient-to-br bg-red from-red to-pink">{{ title }}</h1>
		<div class="text-slate-600 dark:text-slate-400 flex flex-wrap gap-x-8 gap-y-4 items-center leading-tight mt-4">
			<span class="inline-flex gap-2 items-center">
				<bs-i name="calendar2-date"></bs-i>
				<time datetime="{{ page.date | date : "%Y-%m-%d" }}">{{ page.date | date : "%b %d %Y" }}</time>
			</span>
			{% if updatedAt %}
				<span class="inline-flex gap-2 items-center">
					<bs-i name="pencil"></bs-i>
					<time datetime="{{ updatedAt | date : "%Y-%m-%d" }}">{{ updatedAt | date : "%b %d %Y" }}</time>
				</span>
			{% endif %}
			<span class="inline-flex gap-2 items-center flex-wrap">
			{% for tag in tags %}
				{% unless tag == 'post' %}
				<span class="inline-flex gap-2 items-center">
					<bs-i name="tag"></bs-i>
					{{ tag }}
				</span>
				{% endunless %}
			{% endfor %}
			</span>
		</div>
	</div>
</header>

<article class="pb-16">
	<nav class="container">
		<ol class="flex gap-4 flex-wrap">
			<li><a class="link whitespace-nowrap" href="/">Front page</a></li>
			<li aria-hidden="true">
				<bs-i name="arrow-right"></bs-i>
			</li>
			<li><a class="link whitespace-nowrap" href="/posts/">Posts</a></li>
			<li aria-hidden="true">
				<bs-i name="arrow-right"></bs-i>
			</li>
			<li><a class="pointer-events-none text-inherit max-w-[300px] block overflow-hidden whitespace-nowrap overflow-ellipsis" href="{{ page.url }}" aria-current="page">{{ title }}</a></li>
		</ol>
	</nav>
	<div class="relative p-3 mx-auto w-full max-w-5xl box-border md-content" role="presentation">
		{{ content }}
	</div>
</article>
