---
layout: root
date: git Created
hasSnippets: true
breadcrumbs: [{ href: '/posts/', label: 'My notes' }, { href: page.url, current: true }]
---

<div class="container flex-col xl:flex-row-reverse max-w-full xl:max-w-7xl gap-6 items-center" role="presentation">
	<div class="flex grow flex-col gap-6 2xl:pb-6 w-full" role="presentation">
		<nav class="text-sm">
			{% render 'breadcrumbs', list: breadcrumbs, title: title %}
		</nav>

		<h1 class="heading-1 mb-0" style="view-transition-name: article-{{ page.fileSlug }}">{{ title }}</h1>

		<div
			class="text-slate-600 dark:text-slate-400 flex flex-row flex-wrap gap-x-8 gap-y-4 items-center leading-tight text-sm">
			<span class="inline-flex gap-2 items-center">
				{% bsicon "calendar2-date" %}
				<span class="sr-only">Created at</span>
				{% timestamp page.date %}
			</span>
			{% if updatedAt %}
			<span class="inline-flex gap-2 items-center">
				{% bsicon "pencil" %}
				<span class="sr-only">Updated at</span>
				{% timestamp updatedAt %}
			</span>
			{% endif %}
			{% if tags.length > 1 %}
			<span class="inline-flex gap-2 items-center flex-wrap">
				<span class="sr-only">Tags</span>
				{% if tag != 'post' %}
					{% for tag in tags %}
						<span class="inline-flex gap-2 items-center">
							{% bsicon "tag" %} {{ tag }}
						</span>
					{%- endfor -%}
				{% endif %}
			</span>
			{% endif %}
			{% if source %}
			<span class="inline-flex gap-2 items-center">
				{% bsicon "box-arrow-up-right" %}
				<span class="sr-only">Source</span>
				<a class="link" href="{{ source }}" target="_blank" rel="nofollow noreferrer noopener">{{ source | hostname }}</a>
			</span>
			{% endif %}
		</div>
	</div>

	{% if cover %}
	<figure class="xl:w-1/3 w-auto flex flex-col flex-shrink-0 gap-2 text-xs text-slate-600 dark:text-slate-400">
		<img class="rounded-xl w-full block" src="{{ cover.image }}" alt="{{ cover.alt }}">
		<figcaption>{{ cover.caption }}</figcaption>
	</figure>
	{% endif %}
</div>

<article class="container my-8 max-w-4xl md-content">{{ content }}</article>
