---
layout: root
title: My findings
tag: all
breadcrumb: All
pagination:
  size: 6
	permalink: "{{ tag }}/{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber | plus: 1 }}{% endif %}/index.html"
---

<header class="py-8">
	<div class="container" role="presentation">
		<h1 class="inline-flex flex-col gap-4 text-3xl font-extrabold text-transparent bg-clip-text bg-gradient-to-bl text-accent from-pink to-red">
			{{ title }}
		</h1>
	</div>
</header>

<section class="flex relative flex-col justify-center items-start pb-16">
	<nav class="container flex flex-col sm:flex-row gap-4 sm:justify-between sm:items-center">
		<ol class="inline-flex gap-4">
			<li><a class="link" href="/">Front page</a></li>
			<li role="presentation">
				{% render 'icon', icon: 'arrow-right', className: 'inline-block w-4 h-4' %}
			</li>
			<li>
				{% if tag == 'posts' %}
				<span aria-current="page" class="pointer-events-none text-inherit">Posts</span>
				{% else %}
				<a class="link" href="/posts/">Posts</a>
				{% endif %}
			</li>
			<li role="presentation">
				{% render 'icon', icon: 'arrow-right', className: 'inline-block w-4 h-4' %}
			</li>
			<li>
				<a class="pointer-events-none text-inherit" href="{{ page.url }}" aria-current="page">{{ breadcrumb | escape }}</a>
			</li>
		</ol>

		<ul class="inline-flex gap-4 text-sm">
			<li><a class="link text-center" href="/posts/" {% if tag == 'posts' %}aria-current="page"{% endif %}>All posts</a></li>
			<li><a class="link text-center" href="/linux/" {% if tag == 'linux' %}aria-current="page"{% endif %}>Linux</a></li>
		</ul>
	</nav>
	<div class="container" role="presentation">
		<div class="grid grid-cols-1 md:grid-cols-2 gap-10 gap-y-16">
			{%- for post in pagination.items -%}
				{%
					render 'article-excerpt',
					href: post.url,
					title: post.data.title,
					excerpt: post.page.excerpt,
					createdAt: post.page.date
				%}
			{%- endfor -%}
		</div>
	</div>

	{%- if pagination.hrefs.length > 1 -%}
	<nav class="block relative w-full mt-16 px-4">
		<ul class="flex justify-center flex-wrap items-center gap-4">
			<li class="contents">
				<a class="{% unless pagination.href.previous %}pointer-events-none opacity-40 text-slate-600 dark:text-slate-300{% endunless %} w-auto px-2 h-8 rounded-sm min-w-8 inline-flex items-center justify-center bg-crust" href="{{ pagination.href.previous }}" title="Previous page">
					{% render 'icon', icon: 'arrow-left-short', className: 'w-6 h-6' %}
				</a>
			</li>
			{%- for url in pagination.hrefs -%}
				<li class="contents">
					<a {% if page.url == url %}aria-current="page"{% endif %} class="px-2 rounded-sm w-10 h-8 inline-flex items-center justify-center {% if page.url == url %}bg-pink text-black{% else %}bg-crust{% endif %}" href="{{ url }}">{{ forloop.index }}</a>
				</li>
			{%- endfor -%}
			<li class="contents">
				<a class="{% unless pagination.href.next %}pointer-events-none opacity-40 text-slate-600dark:text-slate-300{% endunless %} w-auto px-2 h-8 min-w-8 rounded-sm inline-flex items-center justify-center bg-crust" href="{{ pagination.href.next }}" title="Next page">
					{% render 'icon', icon: 'arrow-right-short', className: 'w-6 h-6' %}
				</a>
			</li>
		</ul>
	</nav>
	{%- endif -%}
</section>
