---
layout: root
eleventyImport:
  collections: ["post"]
pagination:
  data: collections.all
  size: 6
	alias: posts
	reverse: true
	permalink: "posts/{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber | plus: 1 }}{% endif %}/index.html"
---

<header class="py-12">
	<div class="container" role="presentation">
		<h1 class="inline-flex flex-col gap-4 text-3xl font-extrabold text-transparent bg-clip-text bg-gradient-to-bl text-accent from-pink to-red">
			Hello, visitor. This is my blog.
		</h1>
	</div>
</header>

<section class="flex relative flex-col justify-center items-start pb-16">
	<nav class="container">
		<ol class="flex gap-4">
			<li><a class="link" href="/">Front page</a></li>
			<li>
				<svg class="inline-block bi w-4 h-4" fill="currentColor">
					<use xlink:href="/assets/icons/bootstrap.svg#arrow-right" />
				</svg>
			</li> <li><a class="pointer-events-none text-inherit" href="{{ page.url }}" aria-current="page">Posts</a></li>
		</ol>
	</nav>
	<div class="container" role="presentation">
		<div class="grid grid-cols-2 gap-10 gap-y-16 md:grid-cols-2">
			{%- for post in pagination.items -%}
				{%
					render 'article-excerpt',
					href: post.url,
					title: post.data.title,
					excerpt: post.page.excerpt,
					createdAt: post.page.date
				%}
			{%- endfor -%}
		</div>
	</div>

	{%- if pagination.hrefs.length > 1 -%}
	<nav class="block relative w-full mt-16">
		<ul class="flex justify-center items-center gap-4">
			<li class="contents">
				<a class="{% unless pagination.href.previous %}pointer-events-none opacity-40 text-gray-300{% endunless %} w-auto px-2 h-8 rounded-sm min-w-8 inline-flex items-center justify-center bg-base" href="{{ pagination.href.previous }}">
					<svg class="w-6 h-6" width="32" height="32" fill="currentColor">
						<use xlink:href="/assets/icons/bootstrap.svg#arrow-left-short"/>
					</svg>
				</a>
			</li>
			{%- for url in pagination.hrefs -%}
				<li class="contents">
					<a {% if page.url == url %}aria-current="page"{% endif %} class="px-2 rounded-sm min-w-8 h-8 inline-flex items-center justify-center {% if page.url == url %}bg-pink text-black{% else %}bg-base{% endif %}" href="{{ url }}">{{ forloop.index }}</a>
				</li>
			{%- endfor -%}
			<li class="contents">
				<a class="{% unless pagination.href.next %}pointer-events-none opacity-40 text-gray-300{% endunless %} w-auto px-2 h-8 min-w-8 rounded-sm inline-flex items-center justify-center bg-base" href="{{ pagination.href.next }}">
					<svg class="w-6 h-6" width="32" height="32" fill="currentColor">
						<use xlink:href="/assets/icons/bootstrap.svg#arrow-right-short"/>
					</svg>
				</a>
			</li>
		</ul>
	</nav>
	{%- endif -%}
</section>
